body {
    background-color: blue;
}

#start_page{
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 500px;
    order: 1px solid rgb(17, 17, 88);
}

/* #question_list{
    display: none; */
.answerChoice{
    color: black;
}



#scoreboard{
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 500px;
    order: 1px solid rgb(17, 17, 88);   
}